/node_modules
/packages/*/node_modules
/examples/*/node_modules
/plugins/*/node_modules
/presets/*/node_modules
/templates/*/node_modules
/solutions/*/node_modules
/scripts/*/node_modules
/e2e/*/node_modules
/codemods/*/node_modules
/devtools/*/node_modules
/runtimes/*/node_modules
/docs/node_modules
/docs/.vitepress/cache
.pnpm-debug.log
package-lock.json
yarl.lock

packages/*/lib/
packages/*/esm/
packages/*/dist/
packages/**/fixtures/*/dist/
packages/**/fixtures/*/node_modules/.cache/

bundler/*/dist/
bundler/*/lib/
bundler/*/esm/

examples/*/dist/
examples/*/build/
plugins/*/dist/
presets/*/dist/
templates/*/dist/
solutions/*/dist/
e2e/*/dist/
codemods/*/dist/
devtools/*/dist/
runtimes/*/dist/

.kmi
.kmi-*

.turbo
.eslintcache

.DS_Store

packages/kmijs/client
e2e/**/playwright-report
e2e/**/test-results

plugins/plugin-browser-check/client
templates/*/kmi-schema.json
templates/*/temp
templates/*/node_modules
docs/dist

.qianxiang

e2e/*/.vscode
examples/*/.vscode

/packages/bundler-rspack/client/**/*.js
/packages/bundler-rspack/client/**/*.d.ts
/packages/bundler-rspack/client/**/*.d.ts.map
/packages/bundler-shared-config/client/**/*
/.idea

.adstar