dist
lib
packages/**/*/templates
packages/**/*/fixtures
packages/**/*/compiled
packages/**/*/bundles

plugins/**/*/compiled
plugins/**/*/templates
plugins/**/*/fixtures

presets/**/*/compiled
presets/**/*/templates
presets/**/*/fixtures

solutions/**/*/compiled
fixtures
*.d.ts
*.d.ts.map
pnpm-workspace.yaml
node_modules
compiled
*.js
*.mjs
*.md

packages/bundler-rspack/src/fixtures/**/*
*.yaml
*.less
yarn/yarn.js
packages/create-plugins/**/*/templates
packages/create-plugins/src/features/prettier
examples/**/*
# e2e/**/*
templates/**/*
docs
